#amount-input{
    margin-top:10px;
    margin-bottom:20px;
    border-radius: 10px;
    background-color:rgba(255,255,255);
    height:30px;
}

.form-label{
    color:#0fe!important;
    margin-top:80px;
}
